name: ROS Rolling Firmware Build

on:
  # avoid running on distro branches but otherwise always
  pull_request:
    branches-ignore:
      - foxy*
      # - galactic*
      - humble*
      - iron*
  push:
    branches-ignore:
      - foxy*
      # - galactic*
      - humble*
      - iron*
  schedule:
    # Run every morning to detect flakiness and broken dependencies
    - cron: '03 1 * * *'
  workflow_dispatch:


jobs:
  firmware:
    uses: ./.github/workflows/reusable-platformio-ci.yml
    with:
      ros_distro: rolling
